/*Abtpqrcvs*/
.footer--bottom--logo {
    width: 100%;
    max-width: 350px;
}
a:link, a:visited {

    color: white;
    /*padding: 15px 25px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
@media (max-width: 670px) {
    .header--logo {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 170px;
        height: 50px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .mat-container--header {
        background-color: #1f4380;
        height: 50px;
    }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    /* CSS */
    .version-txt[_ngcontent-c8] {
        font-size: 8px;
        font-weight: 50;
        display: block;
        text-align: center;
        padding-bottom: 6px;
        padding-top: 6px;
    }


}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    /* CSS */
    .version-txt[_ngcontent-c8] {
        font-size: 8px;
        font-weight: 50;
        display: block;
        text-align: center;
        padding-bottom: 6px;
        padding-top: 6px;
    }
}
